	body{
		padding: 0px;
		margin: 0px;
		font-family: 'Montserrat', sans-serif;
		font-weight: 300;
		background-color: white;	
	}


/* SCRITTA SUNSET */
			.sunset{
				margin-top: 10px;
				margin-bottom: -20px;
				font-size: 50px;
				text-align: center;
				color: #A8C67C;
			}

			.sottotitolo{
				margin-top: 20px;
				margin-bottom: -20px;
				font-size: 20px;
				text-align: center;
				color: #A8C67C;
			}

/* NAV */
			.immnav{ 
			width: 50px; 
			height: 40px;
			}

			#logoimm{
				position: relative;
				top: 12px;
			}

			*{
			  padding: 0;
			  margin: 0;
			  text-decoration: none;
			  list-style: none;
			  box-sizing: border-box;
			}

			nav{
			  margin-top: 25px;
			  margin-bottom: 20px;
			  background: white;
			  height: 60px;
			  width: 100%;
			}

			nav ul{
			  text-align:center;
			}
			nav ul li{
			  display: inline-block;
			  line-height: 60px;

			}
			nav ul li a{
			  color: #A8C67C;
			  font-size: 17px;
			  padding: 7px 13px;
			  border-radius: 4px;
			}

			a.active,a:hover{
			  background: #A8C67C;
			  color: white;
			  transition: .5s;
			}

			.checkbtn{
			  font-size: 30px;
			  color: #A8C67C;
			  float: right;
			  line-height: 60px;
			  margin-right: 40px;
			  cursor: pointer;
			  display: none;
			}
			#check{
			  display: none;
			}

			section{
			  background: url(bg1.jpg) no-repeat;
			  background-size: cover;
			  height: calc(100vh - 80px);
			}

/* HEADER */
			.showcaseindex{
				max-width: 100%;
				height: 400px;
				background: url(img/index.jpg) no-repeat center center/cover;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: flex-end;
				padding-bottom: 80px;
				margin-bottom: 20px;
			}

/* GRIGLIA */
			.griglia{
				margin-top: 10px;
				margin-right: 100px;
				margin-left: 100px;
				max-width: 1920px;
				display: grid;
				grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
				grid-column-gap: 1em;
				grid-row-gap: 2em; 
				margin-bottom: 2em;
			}

			.cella{
				/*outline: 1px red solid;*/
				min-height: 10em;
			}
			.doppia{
				/*outline: 1px red solid;*/
				grid-column: span 2;
			}

			.tripla{
				/*outline: 1px red solid;*/
				grid-column: span 3;
			}

			.quattro{
				/*outline: 1px red solid;*/
				grid-column: span 4;
			}

			.sei{
				/*outline: 1px red solid;*/
				grid-column: span 6;
			}

/* GRIGLIA PICCOLA */
			.grigliapic{
				margin-top: 0px;
				margin-right: 0px;
				margin-left: 0px;
				margin-bottom: 0px;
				display: grid;
				grid-template-columns: 1fr;
				grid-column-gap: 1em;
				grid-row-gap: 1em; 
			}

			.cellapic{
				min-height: 5em;
			}


/* IMMAGINI RESPONSIVE */
			.responsive {
				width: 70%;
				height: auto;
				height: auto;
				max-width: 300px;
				margin-top: 0px;	
			}

			.responsivemen {
				width: 100%;
				display: block;
     			margin:0px auto;
      			text-align:center;
				height: auto;
				height: auto;
				max-width: 800px;	
			}

/* BOTTONI GRIGLIA CORTO (Find us) */
			#bottonigriglia {
			    padding-top:0em;
			    margin-bottom: 7px;   
			}

			#bottonigriglia ul {
			    padding:0.5em 0;
			}

			#bottonigriglia ul li {
			    display:inline;
			}

			#bottonigriglia ul li a {
				background: white;
				color:#A8C67C;
				text-decoration:none;
				padding:0.5em 1em;
				transition: all .3s;
				border-radius: 4px;
				border: 2px #A8C67C solid;
			}

			#bottonigriglia ul li a:hover {
				color: black;
				background:#A8C67C;
				border: 2px #A8C67C solid;
				border-radius: 4px;
			}

/* BOTTONI GRIGLIA LUNGO (see our menù) */
			#bottonigriglialung {
				padding-top:0em;
			    margin-bottom: 7px;  
			}

			#bottonigriglialung ul {
			    /*text-align:center;*/
			    padding:0.5em 0;
			}

			#bottonigriglialung ul li {
			    display:inline;
			}

			#bottonigriglialung ul li a {
				background: white;
				color:#A8C67C;
				text-decoration:none;
				padding:0.5em 1em;
				transition: all .3s;
				border-radius: 4px;
				border: 2px #A8C67C solid;
			}

			#bottonigriglialung ul li a:hover {
				color: black;
				background:#A8C67C;
				border: 2px #A8C67C solid;
				border-radius: 4px;
			}

/* BOX ASPORTO */
			#boxasporto {
				background-color: #A8C67C;
				padding-top: 5px;
				padding-bottom: 5px;

			}

/* BOTTONI ASPORTO */
			#bottoneasporto {
			    margin-top:15px;

			}

			#bottoneasporto ul {
			    text-align:right;
			    padding:0.5em 0;
			}

			#bottoneasporto ul li {
			    display:inline;
			}

			#bottoneasporto ul li a {
				background: #FFFFFF;
				color:black;
				text-decoration:none;
				padding:0.5em 1em;
				transition: all .3s;
				border-radius: 4px;
				border: 2px white solid;
			}

			#bottoneasporto ul li a:hover {
				color: #FFFFFF;
				background:#A8C67C;
				border: 2px #FFFFFF solid;
				border-radius: 4px;
			}

/* FRASE CITAZIONE */
			.frasecit {
				margin-top: 20px;
				margin-bottom: 20px;
				font-size: 30px;
				text-align: center;
				color: #A8C67C;

			}

/* RISERVATION */
			.riservation{
				max-width: 100%;
				height: 270px;
				background: url(img/riservation.jpg) no-repeat center center/cover;
				display: flex;
				flex-direction: column;
				padding-bottom: 80px;
				margin-bottom: 0px;
			}

/* BOTTONI RISERVATION */
			#navigationriservation {
			margin-top:15px;
			}

			#navigationriservation ul {
			padding:0.5em 0;
			}

			#navigationriservation ul li {
			display:inline;
		
			}

			#navigationriservation ul li a {
				background: #A8C67C;
				color:black;
				text-decoration:none;
				padding:0.5em 1em;
				transition: all .3s;
				border-radius: 4px;
				border: 2px #A8C67C solid;
			}

			#navigationriservation ul li a:hover {
				color: #A8C67C;
				background:white;
				border: 2px white solid;
				border-radius: 4px;
			}

/* BOX FINALE */
			#boxfinale {
				outline: 40px #A8C67C solid;
				margin-right: 40px;
				margin-left: 40px;
			}

/* GRIGLIA FINALE */
			.grigliafinale{
				margin-top: 10px;
				margin-right: 50px;
				margin-left: 50px;
				max-width: 1920px;
				display: grid;
				grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
				grid-column-gap: 1em;
				grid-row-gap: 2em; 
				margin-bottom: 2em;
			}
			.doppiafinale{
				grid-column: span 2;
			}

/*_________________BEVERAGES___________________*/

/* HEADER */
			.showcasebeverages{
				max-width: 100%;
				height: 400px;
				background: url(img/headbeve2.jpg) no-repeat center center/cover;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: flex-end;
				padding-bottom: 80px;
				margin-bottom: 20px;
			}

/* FRASE menù */
			.titolo {
				font-size: 30px;
				text-align: center;
				color: #A8C67C;
				font-weight: 300;
			}
			.frasemenu {
				font-size: 15px;
				text-align: center;
				margin-top: -20px;
			}


/*_________________EVENTS___________________*/

/* HEADER */
			.showcasevents{
				max-width: 100%;
				height: 400px;
				background: url(img/headerevents.jpg) no-repeat center center/cover;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: flex-end;
				padding-bottom: 80px;
				margin-bottom: 20px;
			}

/* FRASE*/
			.fraseevents {
				font-size: 20px;
				margin-top: 10px;
				margin-bottom: 0px;
				color: #A8C67C;
				font-weight: 300;
			}

/*PARTE DOVE SCRIVERE*/
			.contact-form{
			  display: flex;
			  justify-content: space-between;
			  flex-wrap: wrap;
			}

			.contact-form input, .contact-form textarea{
			  width: 100%;
			  height: 40px;
			  margin: 8px 0;
			  background-color: white;
			  border: 2px #A8C67C solid;
			  outline: none;
			  padding: 8px;
			  border-radius: 4px;
			 
			}

			.nameZone, .emailZone{
			  max-width: calc(50% - 10px);
			}

			.messageZone{
			  min-height: 100px;
			  resize: vertical;
			}
/*bottone*/
			#bottoneevents {
			    margin-top:-5px;

			}

			#bottoneevents ul {
			    padding:0.5em 0;
			}

			#bottoneevents ul li {
			    display:inline;
			}

			#bottoneevents ul li a {
				background: white;
				color:#A8C67C;
				text-decoration:none;
				padding:0.5em 1em;
				transition: all .3s;
				border-radius: 4px;
				border: 2px #A8C67C solid;
			}

			#bottoneevents ul li a:hover {
				color: black;
				background: #A8C67C;
				border: 2px #A8C67C solid;
				border-radius: 4px;
			}


/*_________________FINDUS___________________*/

/* HEADER */
			.showcasefindus{
				max-width: 100%;
				height: 400px;
				background: url(img/findus.jpg) no-repeat center center/cover;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: flex-end;
				padding-bottom: 80px;
				margin-bottom: 20px;
			}

/* GOOGLE MAPS RESPONSIVE */
			.responsivemaps {
				width: 100%;
				max-width: 1000px;	
			}


/*BOTTONE*/
			#bottonefindus {
			    padding-top:8px;
			    margin-bottom: 25px;
			}

			#bottonefindus ul {
			    text-align:right;
			    padding:0.5em 0;
			}

			#bottonefindus ul li {
			    display:inline;
			}

			#bottonefindus ul li a {
				background: #A8C67C;
				color:white;
				text-decoration:none;
				padding:0.5em 1em;
				transition: all .3s;
				border-radius: 4px;
				border: 2px white solid;
			}

			#bottonefindus ul li a:hover {
				color: #A8C67C;
				background: white;
				border: 2px #A8C67C solid;
				border-radius: 4px;
			}


/*_________________MENU APPETIZER___________________*/
/* HEADER */
			.showcasemenu{
				max-width: 100%;
				height: 400px;
				background: url(img/headmenu.jpg) no-repeat center center/cover;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: flex-end;
				padding-bottom: 80px;
				margin-bottom: 20px;
			}

/* FRASE menù */
			.frasemenu {
				font-size: 15px;
				text-align: center;
				margin-top: -20px;
			}


/*_________________RESERVATION___________________*/

/* HEADER */
			.showcasereservation{
				max-width: 100%;
				height: 400px;
				background: url(img/reservationhead.jpg) no-repeat center center/cover;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: flex-end;
				padding-bottom: 80px;
				margin-bottom: 20px;
			}
			

/*PARTE CON ORARI E GIORNI*/
			.container-time {
				background-color: #A8C67C;
				padding-left: 20px;
				padding-right: 20px;
				padding-top: 50px;
				padding-bottom: 50px;
				text-align: center;
				color:white;
			}

			.heading {
				font-size: 35px;
				text-transform: uppercase;
				color:#708452;
			}

			.heading-days {
				color:#708452;
				font-size: 20px;
				margin-top: 10px;
				margin-bottom: 10px;
			}

			.heading-phone {
				color:#708452;
				font-size: 20px;
				margin-top: 10px;
				margin-bottom: 10px;
			}


/*PARTE DA COMPILARE*/

			.container {
				background-color: white;
				border: 2px #A8C67C solid;
				margin-left: 100px;
				margin-right: 100px;
				display: grid;
				grid-template-columns: 40% 60%;
			}

			.container-form {
				padding: 20px 0;
				margin: 0 auto;
				color: #000;
				width: 60%;
			}

			form {
				display: grid;
				grid-row-gap: 20px;
			}

			form p {
			color: black;
			}

			.form-field {
				display: flex;
				justify-content: space-between;
			}

			input,select {
				padding: 10px 20px;
				border-radius: 4px;
				border: 2px #A8C67C solid;
			}

			.btn {
				background-color: #A8C67C;
				color: #fff;
				padding: 10px 20px;
				border: none;
				font-size: 18px;
				cursor: pointer;
				transition: all .3s;
				border-radius: 4px;
				border: 2px white solid;
			}

			.btn:hover {
				color: #A8C67C;
				background:white;
				border-radius: 4px;
				border: 2px #A8C67C solid;
				
			}

/*CAMBIAMENTI RIDUZIONI NAV*/
			@media (max-width: 952px){
			  nav ul li a{
			    font-size: 16px;
			  }
			}
			@media (max-width: 800px){
			  .checkbtn{
			    display: block;
			  }
			  nav ul li a{
			  color: white;
			}
			  nav ul{
			    position: fixed;
			    width: 100%;
			    height: 100vh;
			    background: #A8C67C;
			    color: white;
			    top: 160px;
			    left: -100%;
			    text-align: center;
			    transition: all .5s;
			  }
			  nav ul li{
			    display: block;
			    margin: 50px 0;
			    line-height: 22px;
			  }
			  nav ul li a{
			    font-size: 20px;
			  }
			  a:hover,a.active{
			    background: white;
			    color: #A8C67C;
			  }
			  #check:checked ~ ul{
			    left: 0;
			  }

			  .container-form {
				width: 85%;}
				}
			}

			@media (max-width: 700px){

			p {
				font-size: 11px;
				}
			}

			@media (max-width: 600px){

			#bottoneasporto ul li a {
				padding:0.5em 0.7em;
				font-size: 15px;
				border: 1px #A8C67C solid
				}

			#bottonigriglialung ul li a {
				padding:0.5em 0.7em;
				font-size: 15px;
				border: 1px #A8C67C solid
				}
			}

			@media (max-width: 550px){

			#bottonigriglia ul li a {
				padding:0.5em 0.7em;
				font-size: 13px;
				border: 1px #A8C67C solid
				}

				.container-form {
			width: 95%;
			}
			

			#bottonigriglialung ul li a {
				padding:0.5em 0.7em;
				font-size: 13px;
				border: 1px #A8C67C solid
				}
			

			#bottoneasporto ul li a {
				padding:0.5em 0.7em;
				font-size: 13px;
				border: 1px #A8C67C solid
				}
			
			}

/*CAMBIAMENTI RIDUZIONI GRIGLIA FINALE*/

			@media (max-width: 650px){

			.grigliafinale{
				max-width: initial;
				display: block;
				
			}
			.cellafinale{
				margin-bottom: 1em;
			}

			.container-form {
			width: 95%;
			}
			input,select {
				padding: 10px 5px;
				border: 2px #A8C67C solid;
			}
			}


/*___________________________________________________*/

/*CAMBIAMENTI RIDUZIONI PER CELL*/

@media (max-width: 490px){

			nav ul li{
			    display: block;
			    margin: 50px 0;
			    line-height: 8px;
			  }

			nav ul li a{
			    font-size: 20px;
			  }

			.griglia{
				margin-right: 20px;
				margin-left: 20px;
			}

			.container {
				margin-left: 20px;
				margin-right: 20px;
				display: grid;
				grid-template-columns: 40% 60%;
			}

			input,select {
				padding: 10px 0px;
			}

			.heading {
				font-size: 25px;
			}

			.heading-days {
				font-size: 10px;
			}

			.heading-phone {
				font-size: 10px;
			}

			.showcaseindex{
				height: 150px;
			}
			.showcasebeverages{
				height: 150px;
			}
			.showcasevents{
				height: 150px;
			}
			.showcasefindus{
				height: 150px;
			}
			.showcasemenu{
				height: 150px;
			}
			.showcasereservation{
				height: 150px;
			}

			.frasecit {
				font-size: 20px;
			}
		}