	body{
		padding: 0px;
		margin: 0px;
		font-family: 'Montserrat', sans-serif;
		font-weight: 300;
		background-color: white;
			
	}

/* LOGO */
			.logo{
				margin-top: 10px;
				margin-bottom: -20px;
				font-size: 50px;
				text-align: center;
				color: #A8C67C;
			}

/* LOGO NELLA NAV */
			#logoimm{
				position: relative;
				top: 12px;
			}

/* BARRA NAVIGAZIONE */
			#navigation {
			    padding-top:0em;
			    margin-bottom: 2em;
			}

			#navigation ul {
			    text-align:center;
			    padding:0.5em 0;
			}

			#navigation ul li {
			    display:inline;
			    margin-right:0.5em;
			}

			#navigation ul li a {
				background: #A8C67C;
				color:black;
				text-decoration:none;
				padding:0.5em 1em;
				border: 2px white solid;

			}

			#navigation ul li a:hover {
				color: #A8C67C;
				background:#FFFFFF;
				border: 2px #A8C67C solid;

			}

/*IMMAGINE NAV*/

			.immnav{ 
			width: 50px; 
			height: 40px;

			}

/* HEADER */
			.showcaseindex{
				max-width: 100%;
				height: 400px;
				background: url(img/tramonto.jpg) no-repeat center center/cover;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: flex-end;
				padding-bottom: 80px;
				margin-bottom: 20px;
			}

/* GRIGLIA */
			
			.griglia{
				margin-top: 10px;
				margin-right: 100px;
				margin-left: 100px;
				max-width: 1920px;
				display: grid;
				grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
				grid-column-gap: 1em;
				grid-row-gap: 2em; 
				margin-bottom: 2em;
			}

			.cella{
				/*outline: 1px red solid;*/
				min-height: 10em;
			}
			.doppia{
				/*outline: 1px red solid;*/
				grid-column: span 2;
			}

			.tripla{
				/*outline: 1px red solid;*/
				grid-column: span 3;
			}

			.quattro{
				/*outline: 1px red solid;*/
				grid-column: span 4;
			}

			.sei{
				/*outline: 1px red solid;*/
				grid-column: span 6;
			}


/* GRIGLIA PICCOLA */
			.grigliapic{
				margin-top: 0px;
				margin-right: 0px;
				margin-left: 0px;
				margin-bottom: 0px;
				display: grid;
				grid-template-columns: 1fr;
				grid-column-gap: 1em;
				grid-row-gap: 1em; 
			}

			.cellapic{
			/*	outline: 1px red solid;*/
				min-height: 5em;

			}


/* IMMAGINI RESPONSIVE */
			.responsive {
				width: 100%;
				height: auto;
				height: auto;
				max-width: 1000px;
				
			}

/* BOTTONI GRIGLIA CORTO (Find us) */
			#bottonigriglia {
			    padding-top:0em;
			    margin-bottom: 0em;
			}

			#bottonigriglia ul {
			    /*text-align:center;*/
			    padding:0.5em 0;
			}

			#bottonigriglia ul li {
			    display:inline;
			}

			#bottonigriglia ul li a {
				background: #A8C67C;
				color:black;
				text-decoration:none;
				padding:0.5em 1em;
				transition: all .3s;
				border-radius: 4px;
				border: 2px white solid;
			}

			#bottonigriglia ul li a:hover {
				color: #A8C67C;
				background:#FFFFFF;
				border: 2px #A8C67C solid;
				border-radius: 4px;
			}

/* BOTTONI GRIGLIA LUNGO (see our menù) */
			#bottonigriglialung {
			    padding-top:0em;
			    margin-bottom: 0em;
			}

			#bottonigriglialung ul {
			    /*text-align:center;*/
			    padding:0.5em 0;
			}

			#bottonigriglialung ul li {
			    display:inline;
			}

			#bottonigriglialung ul li a {
				background: #A8C67C;
				color:black;
				text-decoration:none;
				padding:0.5em 1em;
				transition: all .3s;
				border-radius: 4px;
				border: 2px white solid;
			}

			#bottonigriglialung ul li a:hover {
				color: #A8C67C;
				background:#FFFFFF;
				border: 2px #A8C67C solid;
				border-radius: 4px;
			}

/* BOX ASPORTO */
			#boxasporto {
				background-color: #A8C67C;
				padding-top: 5px;
				padding-bottom: 5px;

			}

/* BOTTONI ASPORTO */
			#bottoneasporto {
			    padding-top:0em;
			    margin-bottom: 0em;
			}

			#bottoneasporto ul {
			    text-align:right;
			    padding:0.5em 0;
			}

			#bottoneasporto ul li {
			    display:inline;
			}

			#bottoneasporto ul li a {
				background: #FFFFFF;
				color:black;
				text-decoration:none;
				padding:0.5em 1em;
				transition: all .3s;
				border-radius: 4px;
				border: 2px white solid;
			}

			#bottoneasporto ul li a:hover {
				color: #FFFFFF;
				background:#A8C67C;
				border: 2px #FFFFFF solid;
				border-radius: 4px;
			}

/* FRASE CITAZIONE */
			.frasecit {
				font-size: 30px;
				text-align: center;
				color: #A8C67C;

			}

/* RISERVATION */
			.riservation{
				max-width: 100%;
				height: 400px;
				background: url(img/riservation.jpg) no-repeat center center/cover;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: flex-end;
				padding-bottom: 80px;
				margin-bottom: 0px;
			}

/* BOTTONI RISERVATION */
			#navigationriservation {
			    padding-top:0em;
			    margin-bottom: 2em;
			}

			#navigationriservation ul {
			    text-align:center;
			    padding:0.5em 0;
			}

			#navigationriservation ul li {
			    display:inline;
			    margin-right:0.5em;
			}

			#navigationriservation ul li a {
				background: #A8C67C;
				color:black;
				text-decoration:none;
				padding:0.5em 1em;
				transition: all .3s;
				border-radius: 4px;
				border: 2px #A8C67C solid;
			}

			#navigationriservation ul li a:hover {
				color: #A8C67C;
				background:white;
				border: 2px #FFFFFF solid;
				border-radius: 4px;
			}


			input {
				margin: 0;
				width:10em;
				text-align:center;
				display: inline;
			}

/* BOX FINALE */
			#boxfinale {
				outline: 40px #A8C67C solid;
				margin-right: 40px;
				margin-left: 40px;

			}

/* GRIGLIA FINALE */
			.grigliafinale{
				margin-top: 10px;
				margin-right: 50px;
				margin-left: 50px;
				max-width: 1920px;
				display: grid;
				grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
				grid-column-gap: 1em;
				grid-row-gap: 2em; 
				margin-bottom: 2em;
			}
			.doppiafinale{
				/*outline: 1px red solid;*/
				grid-column: span 2;
			}



/*_________________BEVERAGES___________________*/

/* HEADER */
			.showcasebeverages{
				max-width: 100%;
				height: 400px;
				background: url(img/headbeve2.jpg) no-repeat center center/cover;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: flex-end;
				padding-bottom: 80px;
				margin-bottom: 20px;
			}

/* FRASE menù */
			.titolomenu {
				font-size: 30px;
				text-align: center;
				color: #A8C67C;
				font-weight: 300;
			}
			.frasemenu {
				font-size: 15px;
				text-align: center;
				margin-top: -20px;
			}


/*GALLERIA IMMAGINI*/
			.slidershow{
			  width: 700px;
			  height: 400px;
			  overflow: hidden;

			}
			.middle{
			  position: relative;
			  margin-top: 250px;
			  margin-bottom: -140px;
			  /*top: 300%;*/
			  left: 50%;
			  transform: translate(-50%,-50%);
			}
			.navigation{
			  position: absolute;
			  bottom: 20px;
			  left: 50%;
			  transform: translateX(-50%);
			  display: flex;
			}

/*lineette per cambiare immagini*/
			.bar{
			  width: 30px;
			  height: 10px;
			  border: 2px solid #fff;
			  margin: 6px;
			  cursor: pointer;
			  transition: 0.4s;
			}
			.bar:hover{
			  background: #fff;
			}

			input[name="r"]{
			    position: absolute;
			    visibility: hidden;
			}

			.slides{
			  width: 500%;
			  height: 100%;
			  display: flex;
			}

			.slide{
			  width: 20%;
			  transition: 0.6s;
			}

			.slide img{
				width: 40%;
				height: auto;
				padding-left: 31%;
				max-width: 1000px;
			}

			#r1:checked ~ .s1{
			  margin-left: 0;
			}
			#r2:checked ~ .s1{
			  margin-left: -20%;
			}
			#r3:checked ~ .s1{
			  margin-left: -40%;
			}
			#r4:checked ~ .s1{
			  margin-left: -60%;
			}
			#r5:checked ~ .s1{
			  margin-left: -80%;
			}

/*___________________________________________________*/


/*_________________EVENTS___________________*/

/* HEADER */
			.showcasevents{
				max-width: 100%;
				height: 400px;
				background: url(img/headerevents.jpg) no-repeat center center/cover;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: flex-end;
				padding-bottom: 80px;
				margin-bottom: 20px;
			}

/* FRASE*/
			.titoloevents {
				font-size: 20px;
				margin-top: 10px;
				margin-bottom: 0px;
				color: #A8C67C;
				font-weight: 300;
			}

/*PARTE DOVE SCRIVERE*/

			.contact-form{
			  display: flex;
			  justify-content: space-between;
			  flex-wrap: wrap;
			}

			.contact-form input, .contact-form textarea{
			  width: 100%;
			  height: 20px;
			  margin: 7px 0;
			  background-color: white;
			  border: 2px #A8C67C solid;
			  outline: none;
			  padding: 8px;
			  border-radius: 4px;
			 
			}

			.nameZone, .emailZone{
			  max-width: calc(50% - 27px);
			}

			.messageZone{
			  min-height: 100px;
			  resize: vertical;
			}
/*bottone*/
			#bottoneevents {
			    margin-top:-25px;
			    margin-bottom: -10px;

			}

			#bottoneevents ul {
			    padding:0.5em 0;
			}

			#bottoneevents ul li {
			    display:inline;
			}

			#bottoneevents ul li a {
				background: #A8C67C;
				color:white;
				text-decoration:none;
				padding:0.5em 1em;
				transition: all .3s;
				border-radius: 4px;
				border: 2px white solid;

			}

			#bottoneevents ul li a:hover {
				color: #A8C67C;
				background: white;
				border: 2px #A8C67C solid;
				border-radius: 4px;
			}




/*___________________________________________________*/


/*_________________FINDUS___________________*/

/* HEADER */
			.showcasefindus{
				max-width: 100%;
				height: 400px;
				background: url(img/findus.jpg) no-repeat center center/cover;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: flex-end;
				padding-bottom: 80px;
				margin-bottom: 20px;
			}

/* GOOGLE MAPS RESPONSIVE */
			.responsivemaps {
				width: 100%;
				max-width: 1000px;	
			}

/* FRASE*/
			.titolofindus {
				font-size: 30px;
				margin-top: 10px;
				margin-bottom: 0px;
				color: #A8C67C;
				font-weight: 300;
			}

/*BOTTONE*/
			#bottonefindusfindus {
			    padding-top:0em;
			    margin-bottom: 40px;
			}

			#bottonefindus ul {
			    text-align:right;
			    padding:0.5em 0;
			}

			#bottonefindus ul li {
			    display:inline;
			}

			#bottonefindus ul li a {
				background: #A8C67C;
				color:white;
				text-decoration:none;
				padding:0.5em 1em;
				transition: all .3s;
				border-radius: 4px;
				border: 2px white solid;

			}

			#bottonefindus ul li a:hover {
				color: #A8C67C;
				background: white;
				border: 2px #A8C67C solid;
				border-radius: 4px;
			}


/*___________________________________________________*/


/*_________________MENU APPETIZER___________________*/
/* HEADER */
			.showcasemenu{
				max-width: 100%;
				height: 400px;
				background: url(img/headmenu.jpg) no-repeat center center/cover;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: flex-end;
				padding-bottom: 80px;
				margin-bottom: 20px;
			}

/* FRASE menù */
			.titolomenu {
				font-size: 30px;
				text-align: center;
				color: #A8C67C;
				font-weight: 300;
			}
			.frasemenu {
				font-size: 15px;
				text-align: center;
				margin-top: -20px;
			}


/*lineette per cambiare immagini*/
			/*.bar{
			  width: 20px;
			  height: 10px;
			  border: 2px solid #fff;
			  margin: 6px;
			  cursor: pointer;
			  transition: 0.4s;
			}
			.bar:hover{
			  background: #fff;
			}

			input[name="r"]{
			    position: absolute;
			    visibility: hidden;
			}

			.slides{
			  width: 500%;
			  height: 100%;
			  display: flex;
			}

			.slide{
			  width: 20%;
			  transition: 0.6s;
			}

			.slide img{
				width: 100%;
				height: auto;
				max-width: 1000px;
			}

			#r1:checked ~ .s1{
			  margin-left: 0;
			}
			#r2:checked ~ .s1{
			  margin-left: -20%;
			}
			#r3:checked ~ .s1{
			  margin-left: -40%;
			}
			#r4:checked ~ .s1{
			  margin-left: -60%;
			}
			#r5:checked ~ .s1{
			  margin-left: -80%;
			}*/

/*___________________________________________________*/

/*_________________RESERVATION___________________*/

/* HEADER */
			.showcasereservation{
				max-width: 100%;
				height: 400px;
				background: url(img/reservationhead.jpg) no-repeat center center/cover;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: flex-end;
				padding-bottom: 80px;
				margin-bottom: 20px;
			}

/*TITOLO RESERVATION*/
			.titoloreservation{
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: flex-end;
			}

/*PARTE CON ORARI E GIORNI*/
	.container-time {
		background-color: #A8C67C;
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 50px;
		padding-bottom: 50px;
		text-align: center;
		color:white;
	}

	.heading {
		font-size: 35px;
		text-transform: uppercase;
		color:#708452;
	}

	.heading-days {
		color:#708452;
		font-size: 20px;
	}

	.heading-phone {
		color:#708452;
		font-size: 20px;
	}


/*PARTE DA COMPILARE*/

	.container {
		background-color: white;
		border: 2px #A8C67C solid;
		margin-left: 100px;
		margin-right: 100px;
		display: grid;
		grid-template-columns: 40% 60%;

	}

	.container-form {
		padding: 20px 0;
		margin: 0 auto;
		color: #000;
	}

	form {
		display: grid;
		grid-row-gap: 20px;
	}

	form p {
	color: black;
	}

	.form-field {
		display: flex;
		justify-content: space-between;
	}

	input,select {
		padding: 10px 20px;
		border: 2px #A8C67C solid;
	}

	.btn {
		background-color: #A8C67C;
		color: #fff;
		padding: 10px 20px;
		border: none;
		font-size: 18px;
		cursor: pointer;
		transition: all .3s;
		border-radius: 4px;
		border: 2px white solid;
	}

	.btn:hover {
		color: #A8C67C;
		background:white;
		border: 2px #A8C67C solid;
		
	}

/*___________________________________________________*/


/*CAMBIAMENTI RIDUZIONI NAV*/

			@media (max-width: 900px){

			#navigation {
			    font-size: 15px;
				}
			}

			@media (max-width: 850px){

			#navigation {
			    font-size: 14px;
				}
			}

			@media (max-width: 780px){

			#navigation {
			    font-size: 14px;
				}
			}

			@media (max-width: 750px){

			#navigation {
			    font-size: 13px;
				}
			}

			@media (max-width: 720px){

			#navigation {
			    font-size: 12px;
				}
			}

			@media (max-width: 700px){

			#navigation {
			    font-size: 11px;
				}

			p {
				font-size: 12px;
				}
			}

			@media (max-width: 600px){

			#navigation {
			    font-size: 10px;
				}

			#bottoneasporto ul li a {
				padding:0.5em 0.7em;
				font-size: 15px;
				border: 1px #A8C67C solid
				}
			#bottoneasporto ul li a:hover {
				border: 1px #FFFFFF solid;
				}

			#bottonigriglialung ul li a {
				padding:0.5em 0.7em;
				font-size: 15px;
				border: 1px #FFFFFF solid
				}
			#bottonigriglialung ul li a:hover {
				border: 1px #A8C67C solid;
				}

			p {
				font-size: 11px;
				}

			@media (max-width: 550px){

			#navigation {
			    font-size: 9px;
				}
			}

			@media (max-width: 530px){

			#navigation {
			    font-size: 8px;
				}
			}

/*CAMBIAMENTI RIDUZIONI GRIGLIA FINALE*/

			@media (max-width: 650px){

			.grigliafinale{
				max-width: initial;
				display: block;
				
			}
			.cellafinale{
				margin-bottom: 1em;
			}
			}


/*___________________________________________________*/

/*CAMBIAMENTI RIDUZIONI PER CELL*/

@media (max-width: 490px){

			#navigation {
			    font-size: 2px;
				}

			.immnav{ 
			width: 25px; 
			height: 20px;

			}

			.griglia{
				margin-right: 20px;
				margin-left: 20px;
			}
			}